.breadcrumbs {
  color: #ffffff;
  min-width: 3ch;
  line-height: var(--base-size-24);
  border-radius: var(--borderRadius-medium);
  padding-inline: var(--base-size-6);
  padding-block: var(--base-size-4);
  align-items: center;
  height: 100%;
  display: inline-flex;
}

.breadcrumbs:hover {
  background-color: var(--bgColor-disabled); 
  text-decoration: none;  
}

.last-breadcrumb {
  font-weight: 600;
}

.last-breadcrumb:hover {
  background-color: var(--bgColor-disabled); 
}